@{
       
   var itemModel = Model.resultView;
   var dataLead = Model.DataManager.Data;
   var dataMaster = Model.DataMasterData;
    
}




    <div class="modal-header">


    
    @if (0 < 1)
    {
        <h5 class="modal-title">Thêm mới ứng cử viên</h5>
    }
    else
    {
        <h5 class="modal-title">Cập nhật thông tin</h5>
    }
    <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
        </div>

        <div class="modal-body">

   
    <div class="tab-content pt-2" id="myTabjustifiedContent">
        <div class="tab-pane fade show active" id="home-justified" role="tabpanel" aria-labelledby="home-tab">
            <form id="mainForm" class="needs-validation" novalidate>
                <div class="row">
                    <input type="hidden" id ="cbcandidateId" value="">
                     <div class="col-12 ">
                            <div class="form-group">
                                <label class="form-label">Tên ứng cử viên</label>
                                <input type="text" value="" name="fullName" id="txtFullName" class="form-control" required placeholder="" />
                                <div class="invalid-feedback-cs">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="form-label">Ngày sinh</label>
                                <input type="date" value="" name="dob" id="dob" class="form-control" required placeholder="" />
                                <div class="invalid-feedback-cs">
                                </div>
                            </div>
                            <div class=" form-group ">
                                <label class="form-label">Số điện thoại</label>
                                <input type="text" value="" name="txtPhone" id="txtPhone" class="form-control phonecall" required placeholder="" />
                                <div class="invalid-feedback-cs">
                                </div>
                            </div>


                             <div class="form-group">
                                <label class="form-label">Người hướng dẫn</label>
                                <select name="ManagerId" class="form-select" id="cbManager" aria-label="">
                                    @foreach (var item in dataLead)
                                    {
                                            var itemMasterData = item;
                                          
                                             <option  value="@itemMasterData.Id">@itemMasterData.FullName</option>
                                    }
                                </select>
                                <div class="invalid-feedback-cs">
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="form-label">Bộ phận</label>
                                <select name="DepartmentId" class="form-select" id="cbDepartmentId" aria-label="">
                                    @foreach (var item in dataMaster)
                                    {

                                            var itemMasterData = item;

                                            var dataType = itemMasterData.TypeData;
                                            if(dataType != 5)
                                                {
                                                    continue;
                                                }
                                             <option  value="@itemMasterData.Code">@itemMasterData.Name</option>
                                    }
                                </select>
                                <div class="invalid-feedback-cs">
                                </div>

                            </div>

                              <div class="form-group">
                              <label class="form-label">Vị trí</label>
                                 <select name="Position" class="form-select" id="cbPosition" aria-label="">
                                    @foreach (var item in dataMaster)
                                    {

                                            var itemMasterData = item;

                                            var dataType = itemMasterData.TypeData;
                                            if(dataType != 2)
                                                {
                                                    continue;
                                                }
                                             <option  value="@itemMasterData.Code">@itemMasterData.Name</option>
                                    }
                                </select>
                                <div class="invalid-feedback-cs">
                                </div>

                            </div>
                            <div class=" form-group">
                                <label class="form-label">Email</label>
                                <input type="text" value="" name="email" id="txtEmail" class="form-control" required placeholder="" />
                                <div class="invalid-feedback-cs">
                                </div>

                            </div>

                                @{
                                Html.RenderPartial("ControlForm/FileInputCs",new
                                {
                                ValueControl = @itemModel.CVLink,
                                NameControl = "inputCvlinkName",
                                IdControl ="inputCvlink",
                                Lable = "File CV ( ưu tiên file pdf, file hình)"

                                });
                                }
                            <div class=" form-group">
                            <label for="inputAddress2" class="form-label">Ghi chú ứng cử viên</label>
                            <textarea name="noted" id="txtNotedCand" class="form-control" style="height: 50px"></textarea>
                            </div>

                    </div>
                     </div>
  
            </form>
       <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">
            Đóng
            </button>
             <button type="button" onclick="saveCanddiateOrder(-1)" class="btn btn-primary">Lưu ứng viên</button>

                
        </div>
        
         </div>
        <div class="tab-pane fade" id="profile-justified" role="tabpanel" aria-labelledby="profile-tab">
            
              
             <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">
                Đóng
            </button>
            <button type="button" onclick="saveOrder(-1)" class="btn btn-primary">Tạo mới ứng tuyển</button>
        </div>
        </div>
        <div class="tab-pane fade" id="contact-justified" role="tabpanel" aria-labelledby="contact-tab">
          
        </div>
    </div>
 
        </div>
 