@page
@model OrderOnboardModel
@{
    ViewData["Title"] = Model.TitlePage;   

    var arraysource = new List<crmHuman.Model.SelectDisplay>()
        {
            new Model.SelectDisplay()
            {
                Code ="1", Name ="Facebook"
            },
            new Model.SelectDisplay()
            {
            Code ="2", Name ="Web"
            },
            new Model.SelectDisplay()
            {
            Code ="3", Name ="Form"
            },
            new Model.SelectDisplay()
            {
              Code ="5", Name ="khác"
            }
            ,
            new Model.SelectDisplay()
            {
              Code ="6", Name ="HCNS"
            },
            new Model.SelectDisplay()
            {
              Code ="7", Name ="CTV"
            }
           
        };
      string GetNameSource(string code, dynamic iteminfo1)
        {
            if (string.IsNullOrEmpty(code) ||  code=="0")
            {
                return iteminfo1.AuthorName;
            }

            if(Model.UserData.RoleCode !="4")
            {
                return "Marketing";
            }
            string temp = "";
            foreach (var item in arraysource)
            {
                if (item.Code == code.ToString())
                {
                    temp = item.Name;
                    break;
                }
            }
            if(temp =="")
            {
                return "TC";
            }
            return temp;
        }

          string getColorStatus(string statusText)
        {
            if (string.IsNullOrEmpty(statusText))
            {
                return "";
            }
            return "blueStatus";
        }
}

<div class="pagetitle">
    <h1>@Model.TitlePage</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/Employee">Nhân viên</a></li>
            <li class="breadcrumb-item active">Danh sách</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
            
                    @{
                        Html.RenderPartial("formSearch/searchFormOrderOnboard", Model);
                    }

                   
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                @foreach (var item in Model.TableColumnText)
                                {
                                    <th>
                                        @item
                                    </th>
                                }     
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                            }
                             @foreach (var itemData in Model.DataAll.Data)
                            {
                                var itemInfo = itemData as dynamic;

                                var tagetLink = "/OrderDetailNew?OrderId=" + itemInfo.OrderId;
                                var datetimeCreate = @itemInfo.CreateAt.ToString("dd/MM/yyyy HH:mm");

                                  var datetimeOnboard = @itemInfo.OnboardDate.ToString("dd/MM/yyyy");
                                  var endDate = "";
                                if (@itemInfo.Warrantydate != null)
                                {
                                    endDate = @itemInfo.Warrantydate.ToString("dd/MM/yyyy");
                                }
                                i++;
                                   <tr>
                                    
                                <td>@i</td>
                                    <td> <a href="@tagetLink" target="_blank" > @itemInfo.OrderCode  </a> </td>
                                    <td><a href="javascript:void()">@itemInfo.CandidateName</a></td>
                           
                                    <td><a href="javascript:void()">@datetimeOnboard</a></td>
                                
                                    <td>@itemInfo.JobName</td>
                                    <td>@itemInfo.StatusText</td>
                                    <td>@itemInfo.SystemStatusText</td>
                                    <td>@datetimeCreate</td>
                                    <td>@itemInfo.Dpd</td>
                                    <td>@endDate</td>
                                    <td>@itemInfo.AssigeeName</td>
                                    <td>@itemInfo.ResultText</td>
                                    <td>

                                        <a href="javascript:void(0)" onclick="openFormEdit('@itemInfo.Id', 'OrderOnboard')">
                                            <i class="bi bi-pencil">
                                            </i>
                                        </a>
                                    </td>
                                   </tr>
                            }
                            
                            
                            
                        </tbody>
                    </table>
                    @{
                        Html.RenderPartial("formSearch/pagination", Model);
                    }
                        
                    
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="formModal" tabindex="-1" >
    <div class="modal-dialog  modal-dialog-centered modal-lg" >
        <div class="modal-content" id="contentModal">
        </div>
    </div>
</div>


<script>
   var groupSearch = "@Model.RequestSearch.GroupId";
   var memberSearch = "@Model.RequestSearch.MemberId";
   
   
   var extraSearchRequest  = {groupSearch,memberSearch};

</script>


