@page
@model OrderSourceCTVModel
@{
    ViewData["Title"] = Model.TitlePage;   

    var arraysource = new List<crmHuman.Model.SelectDisplay>()
        {
            new Model.SelectDisplay()
            {
                Code ="1", Name ="Facebook"
            },
            new Model.SelectDisplay()
            {
            Code ="2", Name ="Web"
            },
            new Model.SelectDisplay()
            {
            Code ="3", Name ="Form"
            },
            new Model.SelectDisplay()
            {
              Code ="5", Name ="khác"
            }
            ,
            new Model.SelectDisplay()
            {
              Code ="6", Name ="HCNS"
            }
        };
    string GetNameSource(string code, dynamic iteminfo1)
        {
            if (string.IsNullOrEmpty(code) || code == "0")
            {
                return iteminfo1.AuthorName;
            }

            if( code =="6")
            {
                return "HCNS";
            }
            
             if(Model.UserData.RoleCode !="4")
            {
                return "Marketing";
            }
            string temp = "";
            foreach (var item in arraysource)
            {
                if (item.Code == code.ToString())
                {
                    temp = item.Name;
                    break;
                }
            }
            return temp;
        }
}
<div class="pagetitle">
    <h1>@Model.TitlePage</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/Employee">Nhân viên</a></li>
            <li class="breadcrumb-item active">Danh sách</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
            
                    @{
                        Html.RenderPartial("formSearch/searchFormOrderMarketting", Model);
                    }
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                @foreach (var item in Model.TableColumnText)
                                {
                                    <th>
                                        @item
                                    </th>
                                }     
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                            }
                            @foreach (var itemData in Model.DataAll.Data)
                            {
                                var itemInfo = itemData as dynamic;
                                var datetimeCreate = @itemInfo.CreateAt.ToString("dd/MM/yyyy HH:mm");
                                var datetimeUpdate = "";

                                if (@itemInfo.UpdateAt != null)
                                {
                                    datetimeUpdate = @itemInfo.UpdateAt.ToString("dd/MM/yyyy HH:mm");
                                }
                                i++;

                                var partnerText = "";
                                partnerText = @itemInfo.PartnerName;
                                if(!string.IsNullOrEmpty(@itemInfo.ProjectName))
                                {
                                        partnerText += "-" + @itemInfo.ProjectName; 
                                }

                                var assigneeName = "";
                                if(@itemInfo.Assignee > 0)
                                {
                                    assigneeName  = @itemInfo.AssigeeName;
                                }
                                else 
                                {
                                    assigneeName  = "Chưa phân công";
                                }
                                    <tr>
                                            <td>@i</td>
                                            <td><a href="/OrderDetailNew?OrderId=@itemInfo.Id" >@itemInfo.Code</a></td>
                                            <td>@itemInfo.UserNameText</td>
                           
                                            <td>@itemInfo.PositionText</td>
                                            <td>@partnerText </td>
                                            <td>@itemInfo.StatusText</td>
                                            <td>@itemInfo.AssigeeName</td>
                                            <td>@itemInfo.DateGet</td>
                                             <td>@itemInfo.SourceName</td>
                                            <td>@datetimeCreate</td>
                                            <td>@datetimeUpdate</td>

                                    <td>
                                       
                                            @if(Model.Permision.Delete ==true )
                                            {       

                                                   if(itemInfo.Source == "0"  || Model.UserData.RoleCode =="4"   )
                                                   {
                                                        
                                                            <a href="javascript:void(0)" onclick="confirmDelete('@itemInfo.Id', 'order')">
                                                                <i class="bi bi-trash-fill">
                                                                </i>
                                                            </a>
                                                   }

                                                            @if(  ( @itemInfo.Assignee == null || @itemInfo.Assignee < 1) &&  Model.UserData.RoleCode =="3")
                                                            {
                                                                       @if( Model.Permision.Assignee ==true )
                                                                       {
                                                                        <a href="javascript:void(0)" onclick="openFormAssignee('@itemInfo.Id', 'OrderAssignee')">
                                                                                    <i class="bi bi-person-fill-up"></i>
                                                                        </a>
                                                                       }
                                                                       
                                                            }
                                            
                                            }

                                         
                                    </td>
                                </tr>
                            }
                      
                            
                            
                        </tbody>
                    </table>
                    @{
                        Html.RenderPartial("formSearch/pagination", Model);
                    }
                        
                    
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="formModal" tabindex="-1" >
    <div class="modal-dialog  modal-dialog-centered modal-lg" >
        <div class="modal-content" id="contentModal">
        </div>
    </div>
</div>


