<div class="col-12 form-group">
    <label class="form-label">@Model.Lable</label>
    <input type="file" onchange="UploadImage(this)" name="@Model.NameControl" class="form-control" required placeholder="" />
    <div class="invalid-feedback-cs">
    </div>
    <div class="fileResult">
        @if( !string.IsNullOrEmpty(Model.ValueControl))
            {  var linkfiledisplay = Model.ValueControl;
                <a href="@linkfiledisplay" target="_blank">Thông tin file CV</a>
            }
    </div>
    <div class="fileValue">
        <input type="hidden" id="@Model.IdControl"  class="valuefile" value="@Model.ValueControl" />
    </div>
</div>